.good {
  color: wheat;
  font-size: 100px;
  font-family: "Unbounded";
}

.swiperFoto {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiperFotoDesctop {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .swiperFotoDesctop {
    display: none;
  }
}

.swiperFotoTablet {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .swiperFotoTablet {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .swiperFotoTablet {
    display: none;
  }
}

.swiperFotoMobile {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
@media screen and (max-width: 480px) {
  .swiperFotoMobile {
    display: block;
  }
}

.homePageSwiperFoto1 {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../Assets/Images/HomePageImages/HomePageSwiperDesctopFoto1.webp");
}

.startSectionContainer {
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 2.6vw;
  border-bottom-right-radius: 2.6vw;
}
@media screen and (max-width: 1024px) {
  .startSectionContainer {
    border-bottom-left-radius: 6.5vw;
    border-bottom-right-radius: 6.5vw;
  }
}
@media screen and (max-width: 480px) {
  .startSectionContainer {
    max-height: 83vw;
    border-bottom-left-radius: 13.8vw;
    border-bottom-right-radius: 13.8vw;
  }
}

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 5;
  padding: 2.3vw 6.66% 0px 6.66%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .headerContainer {
    align-items: flex-start;
    justify-content: center;
    padding: 2vw 6.66% 0px 6.66%;
    height: 30%;
  }
}
@media screen and (max-width: 480px) {
  .headerContainer {
    padding: 9.2vw 6.66% 0px 6.66%;
    height: 38%;
  }
}
.headerContainer__logo {
  width: 23.6%;
  height: auto;
  margin-right: 16%;
}
@media screen and (max-width: 1024px) {
  .headerContainer__logo {
    margin-right: 0;
    width: 43%;
    height: 30%;
  }
}
@media screen and (max-width: 480px) {
  .headerContainer__logo {
    margin-right: 0;
    width: 37%;
    height: 26%;
  }
}
.headerContainer__navigation {
  width: 51%;
  height: 54%;
  background-color: white;
  border-radius: 50px;
  padding: 0px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .headerContainer__navigation {
    display: none;
  }
}
.headerContainer__navigationItem {
  font-size: 1.1vw;
  font-family: "Unbounded";
  font-weight: 400;
  transition-duration: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.headerContainer__navigationItem:hover {
  color: #5566b7;
}

.becomeClientButton {
  width: 22vw;
  height: 4.6vw;
  border-radius: 2.6vw;
  display: flex;
  align-items: center;
  font-family: "Unbounded-Medium";
  justify-content: center;
  position: absolute;
  background-color: #a967dd;
  color: white;
  z-index: 5;
  font-size: 1.25vw;
  bottom: 5.5vw;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition-duration: 1s;
  border: none;
  outline: none;
  -webkit-animation: unPressButtonAnimation 0.5s forwards;
          animation: unPressButtonAnimation 0.5s forwards;
  font-weight: 700;
  cursor: url(../Assets/Images/CursorImage/CursorImage.svg), auto;
}
@media screen and (max-width: 1024px) {
  .becomeClientButton {
    width: 55.2vw;
    height: 11vw;
    border-radius: 6.5vw;
    font-size: 3.125vw;
    bottom: 7.5vw;
  }
}
@media screen and (max-width: 480px) {
  .becomeClientButton {
    width: 48vw;
    height: 10vw;
    border-radius: 13.8vw;
    font-size: 3vw;
    bottom: 9.5vw;
  }
}
.becomeClientButton__plus {
  margin-right: 2.3%;
  width: 4.7%;
  -webkit-animation: rotateAnimationOut 1s forwards;
          animation: rotateAnimationOut 1s forwards;
}
@media screen and (max-width: 1024px) {
  .becomeClientButton__plus {
    width: 4.75%;
    height: auto;
  }
}

.becomeClientButtonPressed {
  -webkit-animation: pressButtonAnimation 0.5s forwards;
          animation: pressButtonAnimation 0.5s forwards;
}

.comeBackButton {
  width: 24.4vw;
  height: 5.2vw;
  border-radius: 2.6vw;
  display: flex;
  align-items: center;
  font-family: "Unbounded-Medium";
  justify-content: center;
  background-color: #a967dd;
  color: white;
  z-index: 5;
  font-size: 1.25vw;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 1s;
  border: none;
  outline: none;
  font-weight: 700;
  line-height: 100%;
  margin-top: 3vw;
  cursor: url(../Assets/Images/CursorImage/CursorImage.svg), auto;
}
@media screen and (max-width: 1024px) {
  .comeBackButton {
    width: 55.2vw;
    height: 11vw;
    border-radius: 6.5vw;
    font-size: 3.125vw;
    bottom: 7.5vw;
  }
}
@media screen and (max-width: 480px) {
  .comeBackButton {
    width: 48vw;
    height: 10vw;
    border-radius: 13.8vw;
    font-size: 3vw;
    bottom: 9.5vw;
  }
}
.comeBackButton__arrow {
  margin-left: 1.25vw;
  width: 1.9vw;
}
@media screen and (max-width: 1024px) {
  .comeBackButton__arrow {
    width: 4.75%;
    height: auto;
  }
}

@-webkit-keyframes pressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  30% {
    transform: translateX(-50%) scale(1.03);
  }
  100% {
    transform: translateX(-50%) scale(0.95);
  }
}

@keyframes pressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  30% {
    transform: translateX(-50%) scale(1.03);
  }
  100% {
    transform: translateX(-50%) scale(0.95);
  }
}
@-webkit-keyframes unPressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(0.95);
  }
  30% {
    transform: translateX(-50%) scale(0.93);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@keyframes unPressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(0.95);
  }
  30% {
    transform: translateX(-50%) scale(0.93);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@-webkit-keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotateAnimationOut {
  0% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateAnimationOut {
  0% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.becomeClientButton:hover .becomeClientButton__plus {
  -webkit-animation: rotateAnimation 1s forwards;
          animation: rotateAnimation 1s forwards;
}

.aboutUsContainer {
  width: 100vw;
  height: 56vw;
  background-color: white;
  padding: 6.6vw 6.6vw 0 6.6vw;
  color: #5566b7;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer {
    padding: 12.3vw 6.25vw 0 6.25vw;
    height: 105vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer {
    padding: 13.5vw 4.4vw 0 4.4vw;
    height: 102vw;
  }
}
.aboutUsContainer__title {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__title {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__title {
    flex-direction: row;
  }
}
.aboutUsContainer__mainTitleText {
  font-family: Gilroy-SemiBold;
  line-height: 5.2vw;
  font-size: 5vw;
  margin-right: 1vw;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__mainTitleText {
    font-size: 12.5vw;
    line-height: 13vw;
    margin-bottom: 1vw;
    letter-spacing: 0.01vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__mainTitleText {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
}
.aboutUsContainer__subTitleText {
  border-left: 2px solid #5566b7;
  font-family: Unbounded-Blond;
  font-size: 1.25vw;
  line-height: 1.45vw;
  padding-left: 0.5vw;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__subTitleText {
    font-family: Unbounded-Medium;
    font-size: 3.125vw;
    line-height: 3.125vw;
    border-left: none;
    padding-left: 0vw;
    letter-spacing: 0.1vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__subTitleText {
    font-size: 2.2vw;
    line-height: 2.7vw;
    padding-left: 1vw;
    border-left: 1px solid #5566b7;
  }
}
.aboutUsContainer__infoItem1 {
  background-image: url(../Assets/Images/HomePageImages/AboutUsBackground1.png);
  position: absolute;
  height: 19vw;
  width: 29vw;
  top: 17.2vw;
  left: 48%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 8.6vw 2.1vw 5vw 3.5vw;
  font-size: 1.25vw;
  font-family: Unbounded;
  text-align: center;
  color: white;
  letter-spacing: 0.0375vw;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__infoItem1 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground1.png);
    height: 32.6vw;
    width: 42vw;
    top: 35.6vw;
    left: 48%;
    transform: translateX(-50%);
    font-size: 2vw;
    line-height: 2.6vw;
    padding: 11.8vw 9.1vw 5vw 6.5vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__infoItem1 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground1.png);
    height: 34vw;
    width: 42vw;
    top: 25vw;
    left: 48%;
    transform: translateX(-50%);
    font-size: 2.3vw;
    line-height: 2.7vw;
    letter-spacing: 0.066vw;
    padding: 10.8vw 7.1vw 5vw 7.5vw;
  }
}
.aboutUsContainer__infoItem2 {
  background-image: url(../Assets/Images/HomePageImages/AboutUsBackground2.png);
  position: absolute;
  height: 17vw;
  width: 25.6vw;
  left: 18.5vw;
  top: 31.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 5.9vw 1.5vw 6vw 4.8vw;
  font-size: 1.25vw;
  font-family: Unbounded;
  text-align: center;
  letter-spacing: 0.0375vw;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__infoItem2 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground2.png);
    height: 30.8vw;
    width: 35.1vw;
    left: 6.25vw;
    top: 61.7vw;
    font-size: 2vw;
    line-height: 2.6vw;
    padding: 9.1vw 3.5vw 2vw 3vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__infoItem2 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsMobileBackground2.png);
    height: 34.8vw;
    width: 36.1vw;
    left: 6.25vw;
    top: 50.7vw;
    font-size: 2.3vw;
    line-height: 2.7vw;
    letter-spacing: 0.066vw;
    padding: 11.6vw 2.5vw 2vw 3vw;
  }
}
.aboutUsContainer__infoItem3 {
  background-image: url(../Assets/Images/HomePageImages/AboutUsBackground3.png);
  position: absolute;
  height: 20.5vw;
  width: 36.4vw;
  right: 19.5vw;
  top: 29vw;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 5.4vw 2.5vw 3vw 7.5vw;
  font-size: 1.25vw;
  font-family: Unbounded;
  text-align: center;
  letter-spacing: 0.0375vw;
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__infoItem3 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground3.png);
    height: 37.2vw;
    width: 50vw;
    right: 8.25vw;
    top: 58vw;
    font-size: 2vw;
    line-height: 2.6vw;
    padding: 10vw 3.5vw 3vw 7.5vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__infoItem3 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsMobileBackground3.png);
    height: 42.2vw;
    width: 51vw;
    right: 7vw;
    top: 48.5vw;
    font-size: 2.3vw;
    line-height: 2.7vw;
    letter-spacing: 0.066vw;
    padding: 10.5vw 2.5vw 3vw 7.5vw;
  }
}
.aboutUsContainer__infoItem4 {
  position: absolute;
  width: 57vw;
  height: 5.6vw;
  background-color: #5566b7;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5vw;
  border-radius: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3.3vw;
  font-family: Gilroy;
  box-shadow: 0.3125vw 0.3125vw 0.3125vw 0px rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 1024px) {
  .aboutUsContainer__infoItem4 {
    width: 71vw;
    height: 9.3vw;
    border-radius: 6.5vw;
    font-size: 3.125vw;
    box-shadow: 0.78vw 0.78vw 0.78vw 0px rgba(0, 0, 0, 0.35);
    bottom: 1.2vw;
  }
}
@media screen and (max-width: 480px) {
  .aboutUsContainer__infoItem4 {
    font-family: Unbounded;
    width: 71.5vw;
    height: 6.3vw;
    border-radius: 6.5vw;
    font-size: 2.2vw;
    box-shadow: 1.38vw 1.38vw 1.5vw 0px rgba(0, 0, 0, 0.35);
    bottom: 4vw;
    letter-spacing: 0.066vw;
  }
}

.servicesContainer {
  width: 100vw;
  height: 80vw;
  background-color: white;
  padding: 6.6vw 6.6vw 0 6.6vw;
  color: #5566b7;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .servicesContainer {
    padding: 11.4vw 6.25vw 0 6.25vw;
    height: 211vw;
  }
}
@media screen and (max-width: 480px) {
  .servicesContainer {
    padding: 13.5vw 4.4vw 0 4.4vw;
    height: 165vw;
  }
}
.servicesContainer__header {
  font-size: 5vw;
  font-family: Gilroy-SemiBold;
}
@media screen and (max-width: 1024px) {
  .servicesContainer__header {
    font-size: 12.5vw;
  }
}
@media screen and (max-width: 480px) {
  .servicesContainer__header {
    font-size: 5.5vw;
    line-height: 5.5vw;
    margin-bottom: 6.6vw;
  }
}
.servicesContainer__service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.7vw;
  border-bottom: 0.15vw solid #5566b7;
  transition-duration: 0.5s;
}
@media screen and (max-width: 1024px) {
  .servicesContainer__service {
    height: unset;
    min-height: 11vw;
    align-items: flex-start;
    padding: 4.2vw 0;
  }
}
@media screen and (max-width: 480px) {
  .servicesContainer__service {
    height: unset;
    min-height: 10.5vw;
    align-items: flex-start;
    padding: 4.4vw 0;
  }
}
.servicesContainer__serviceIcon {
  width: 1.92vw;
  height: 1.92vw;
  min-width: 1.92vw;
  min-height: 1.92vw;
  border-radius: 50%;
  margin-right: 0.41vw;
  -o-object-fit: contain;
     object-fit: contain;
  transition-duration: 0.5s;
}
@media screen and (max-width: 1024px) {
  .servicesContainer__serviceIcon {
    width: 4.8vw;
    height: 4.8vw;
    min-width: 4.8vw;
    min-height: 4.8vw;
    margin-right: 1vw;
  }
}
.servicesContainer__serviceTitle {
  display: flex;
  align-items: center;
  font-family: Gilroy-SemiBold;
  font-size: 3.3vw;
}
@media screen and (max-width: 1024px) {
  .servicesContainer__serviceTitle {
    font-size: 6.25vw;
    line-height: 6.25vw;
    align-items: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .servicesContainer__serviceTitle {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
}
.servicesContainer__infoList {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Unbounded;
}
.servicesContainer__infoListItem {
  text-align: right;
  font-size: 1.25vw;
  width: 25vw;
}
@media screen and (max-width: 1024px) {
  .servicesContainer__infoListItem {
    font-size: 3.25vw;
    line-height: 3.6vw;
    width: 32vw;
  }
}
@media screen and (max-width: 1024px) {
  .servicesContainer__infoListItem {
    font-size: 2.2vw;
    line-height: 3.3vw;
    width: 32vw;
    font-family: Unbounded-Blond;
  }
}

.servicesContainer > :nth-child(2) {
  border-top: 0.15vw solid #5566b7;
}

.servicesContainer__service:hover .servicesContainer__serviceIcon {
  transform: rotate(90deg);
}

.modalContainer {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.modalPopUp__productionImage, .modalPopUp__promotionImage, .modalPopUp__designImage, .modalPopUp__brandThirdImage, .modalPopUp__brandSecondImage, .modalPopUp__brandFirstImage, .modalPopUp__smmImage, .modalPopUp__communicationStrategyImage, .modalPopUp__smmStrategyImage {
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 18.5vw;
  height: 12.5vw;
}

.modalPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  min-height: 38vw;
  max-height: 90vh;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 2.6vw;
}
.modalPopUp__infoSection {
  display: flex;
}
.modalPopUp__imagesList {
  display: flex;
  flex-direction: column;
  margin-right: 2.55vw;
}
.modalPopUp__imageContainer {
  height: 25vw;
  width: 30vw;
  background-color: rgba(85, 102, 183, 0.3);
  border-radius: 2.6vw;
  filter: drop-shadow(0.3125vw 0.3125vw 0.3125vw rgba(0, 0, 0, 0.35));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.625vw;
  position: relative;
}
.modalPopUp__imageContainerTopLeftImagesText {
  position: absolute;
  top: 1.83vw;
  left: 1.66vw;
  border-radius: 5.2vw;
  padding: 0.5vw;
  font-family: Unbounded-Medium;
  font-size: 1.25vw;
  line-height: 1.25vw;
  letter-spacing: 0.03125vw;
  color: #ffffff;
  background-color: #a967dd;
}
.modalPopUp__smmStrategyImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/smm_strategy_pop_up_desktop.webp);
}
.modalPopUp__communicationStrategyImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/communication_strategy_pop_up_desktop.webp);
}
.modalPopUp__smmImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/smm_pop_up_desktop.webp);
}
.modalPopUp__brandFirstImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_1.webp);
}
.modalPopUp__brandSecondImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_2.webp);
}
.modalPopUp__brandThirdImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_3.webp);
}
.modalPopUp__designImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/web-design_pop_up_desktop.webp);
}
.modalPopUp__promotionImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/promotion_pop_up_desktop.webp);
}
.modalPopUp__productionImage {
  background-image: url(../Assets/Images/HomePageImages/PopUp/production_pop_up_desktop.webp);
}
.modalPopUp__informationItem {
  width: 33.4vw;
  min-height: 25vw;
  margin: 0.625vw;
  margin-bottom: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalPopUp__informationItemHeader {
  color: #5566b7;
  font-size: 1.25vw;
  font-family: Unbounded-Bold;
  margin-bottom: 0.8vw;
}
.modalPopUp__informationItemSecondHeader {
  font-family: Unbounded;
  font-size: 1.05vw;
  line-height: 1.25vw;
  letter-spacing: 0.03125vw;
  color: #5566b7;
  margin-bottom: 0.8vw;
}
.modalPopUp__informationItemTitle {
  color: #000;
  font-family: Unbounded-Blond;
  font-size: 1vw;
  line-height: 1.66vw;
  letter-spacing: 0.03125vw;
  display: flex;
}
.modalPopUp__informationItemTitle:before {
  content: "";
  background-image: url(../Assets/Images/HomePageImages/PopUp/PopUpArrow.svg);
  margin-right: 0.8vw;
  display: block;
  min-width: 1.5vw;
  min-height: 1.05vw;
  width: 1.5vw;
  height: 1.05vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.modalPopUp__informationItemSubTitle {
  color: #000;
  font-family: Unbounded-Blond;
  font-size: 1vw;
  line-height: 1.66vw;
  letter-spacing: 0.03125vw;
  display: flex;
  margin-left: 2.3vw;
}/*# sourceMappingURL=homePage.module.css.map */