.good {
  color: wheat;
  font-size: 100px;
  font-family: "Unbounded";
}
.swiperFoto {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.swiperFotoDesctop {
  width: 100%;
  height: auto;
  object-fit: contain;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.swiperFotoTablet {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: none;

  @media screen and (min-width: 480px) and (max-width: 1024px) {
    display: block;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.swiperFotoMobile {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}

.homePageSwiperFoto1 {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../Assets/Images/HomePageImages/HomePageSwiperDesctopFoto1.webp");
}
.startSectionContainer {
  max-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 2.6vw;
  border-bottom-right-radius: 2.6vw;
  @media screen and (max-width: 1024px) {
    border-bottom-left-radius: 6.5vw;
    border-bottom-right-radius: 6.5vw;
  }
  @media screen and (max-width: 480px) {
    max-height: 83vw;
    border-bottom-left-radius: 13.8vw;
    border-bottom-right-radius: 13.8vw;
  }
}
.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 5;
  padding: 2.3vw 6.66% 0px 6.66%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1024px) {
    align-items: flex-start;
    justify-content: center;
    padding: 2vw 6.66% 0px 6.66%;
    height: 30%;
  }
  @media screen and (max-width: 480px) {
    padding: 9.2vw 6.66% 0px 6.66%;
    height: 38%;
  }
  &__logo {
    width: 23.6%;
    height: auto;
    margin-right: 16%;
    @media screen and (max-width: 1024px) {
      margin-right: 0;
      width: 43%;
      height: 30%;
    }
    @media screen and (max-width: 480px) {
      margin-right: 0;
      width: 37%;
      height: 26%;
    }
  }
  &__navigation {
    width: 51%;
    height: 54%;
    background-color: white;
    border-radius: 50px;
    padding: 0px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &__navigationItem {
    font-size: 1.1vw;
    font-family: "Unbounded";
    font-weight: 400;
    transition-duration: 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  &__navigationItem:hover {
    color: #5566b7;
  }
}
.becomeClientButton {
  width: 22vw;
  height: 4.6vw;
  border-radius: 2.6vw;
  display: flex;
  align-items: center;
  font-family: "Unbounded-Medium";
  justify-content: center;
  position: absolute;
  background-color: #a967dd;
  color: white;
  z-index: 5;
  font-size: 1.25vw;
  bottom: 5.5vw;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition-duration: 1s;
  border: none;
  outline: none;
  animation: unPressButtonAnimation 0.5s forwards;
  font-weight: 700;
  cursor: url(../Assets/Images/CursorImage/CursorImage.svg), auto;
  @media screen and (max-width: 1024px) {
    width: 55.2vw;
    height: 11vw;
    border-radius: 6.5vw;
    font-size: 3.125vw;
    bottom: 7.5vw;
  }
  @media screen and (max-width: 480px) {
    width: 48vw;
    height: 10vw;
    border-radius: 13.8vw;
    font-size: 3vw;
    bottom: 9.5vw;
  }
  &__plus {
    margin-right: 2.3%;
    width: 4.7%;
    animation: rotateAnimationOut 1s forwards;
    @media screen and (max-width: 1024px) {
      width: 4.75%;
      height: auto;
    }
  }
}
.becomeClientButtonPressed {
  animation: pressButtonAnimation 0.5s forwards;
}
.comeBackButton {
  width: 24.4vw;
  height: 5.2vw;
  border-radius: 2.6vw;
  display: flex;
  align-items: center;
  font-family: "Unbounded-Medium";
  justify-content: center;
  background-color: #a967dd;
  color: white;
  z-index: 5;
  font-size: 1.25vw;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 1s;
  border: none;
  outline: none;
  font-weight: 700;
  line-height: 100%;
  margin-top: 3vw;
  cursor: url(../Assets/Images/CursorImage/CursorImage.svg), auto;
  @media screen and (max-width: 1024px) {
    width: 55.2vw;
    height: 11vw;
    border-radius: 6.5vw;
    font-size: 3.125vw;
    bottom: 7.5vw;
  }
  @media screen and (max-width: 480px) {
    width: 48vw;
    height: 10vw;
    border-radius: 13.8vw;
    font-size: 3vw;
    bottom: 9.5vw;
  }
  &__arrow {
    margin-left: 1.25vw;
    width: 1.9vw;
    @media screen and (max-width: 1024px) {
      width: 4.75%;
      height: auto;
    }
  }
}
@keyframes pressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }

  30% {
    transform: translateX(-50%) scale(1.03);
  }

  100% {
    transform: translateX(-50%) scale(0.95);
  }
}
@keyframes unPressButtonAnimation {
  0% {
    transform: translateX(-50%) scale(0.95);
  }
  30% {
    transform: translateX(-50%) scale(0.93);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotateAnimationOut {
  0% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(120deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.becomeClientButton:hover .becomeClientButton__plus {
  animation: rotateAnimation 1s forwards;
}
.aboutUsContainer {
  width: 100vw;
  height: 56vw;
  background-color: white;
  padding: 6.6vw 6.6vw 0 6.6vw;
  color: #5566b7;
  position: relative;
  @media screen and (max-width: 1024px) {
    padding: 12.3vw 6.25vw 0 6.25vw;
    height: 105vw;
  }
  @media screen and (max-width: 480px) {
    padding: 13.5vw 4.4vw 0 4.4vw;
    height: 102vw;
  }
  &__title {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (max-width: 480px) {
      flex-direction: row;
    }
  }
  &__mainTitleText {
    font-family: Gilroy-SemiBold;
    line-height: 5.2vw;
    font-size: 5vw;
    margin-right: 1vw;
    @media screen and (max-width: 1024px) {
      font-size: 12.5vw;
      line-height: 13vw;
      margin-bottom: 1vw;
      letter-spacing: 0.01vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 5.5vw;
      line-height: 5.5vw;
    }
  }
  &__subTitleText {
    border-left: 2px solid #5566b7;
    font-family: Unbounded-Blond;
    font-size: 1.25vw;
    line-height: 1.45vw;
    padding-left: 0.5vw;
    @media screen and (max-width: 1024px) {
      font-family: Unbounded-Medium;
      font-size: 3.125vw;
      line-height: 3.125vw;
      border-left: none;
      padding-left: 0vw;
      letter-spacing: 0.1vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 2.2vw;
      line-height: 2.7vw;
      padding-left: 1vw;
      border-left: 1px solid #5566b7;
    }
  }
  &__infoItem1 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsBackground1.png);
    position: absolute;
    height: 19vw;
    width: 29vw;
    top: 17.2vw;
    left: 48%;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8.6vw 2.1vw 5vw 3.5vw;
    font-size: 1.25vw;
    font-family: Unbounded;
    text-align: center;
    color: white;
    letter-spacing: 0.0375vw;
    @media screen and (max-width: 1024px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground1.png);
      height: 32.6vw;
      width: 42vw;
      top: 35.6vw;
      left: 48%;
      transform: translateX(-50%);
      font-size: 2vw;
      line-height: 2.6vw;
      padding: 11.8vw 9.1vw 5vw 6.5vw;
    }
    @media screen and (max-width: 480px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground1.png);
      height: 34vw;
      width: 42vw;
      top: 25vw;
      left: 48%;
      transform: translateX(-50%);
      font-size: 2.3vw;
      line-height: 2.7vw;
      letter-spacing: 0.066vw;
      padding: 10.8vw 7.1vw 5vw 7.5vw;
    }
  }
  &__infoItem2 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsBackground2.png);
    position: absolute;
    height: 17vw;
    width: 25.6vw;
    left: 18.5vw;
    top: 31.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 5.9vw 1.5vw 6vw 4.8vw;
    font-size: 1.25vw;
    font-family: Unbounded;
    text-align: center;
    letter-spacing: 0.0375vw;
    @media screen and (max-width: 1024px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground2.png);
      height: 30.8vw;
      width: 35.1vw;
      left: 6.25vw;
      top: 61.7vw;
      font-size: 2vw;
      line-height: 2.6vw;
      padding: 9.1vw 3.5vw 2vw 3vw;
    }
    @media screen and (max-width: 480px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsMobileBackground2.png);
      height: 34.8vw;
      width: 36.1vw;
      left: 6.25vw;
      top: 50.7vw;
      font-size: 2.3vw;
      line-height: 2.7vw;
      letter-spacing: 0.066vw;
      padding: 11.6vw 2.5vw 2vw 3vw;
    }
  }
  &__infoItem3 {
    background-image: url(../Assets/Images/HomePageImages/AboutUsBackground3.png);
    position: absolute;
    height: 20.5vw;
    width: 36.4vw;
    right: 19.5vw;
    top: 29vw;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 5.4vw 2.5vw 3vw 7.5vw;
    font-size: 1.25vw;
    font-family: Unbounded;
    text-align: center;
    letter-spacing: 0.0375vw;
    @media screen and (max-width: 1024px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsTabletBackground3.png);
      height: 37.2vw;
      width: 50vw;
      right: 8.25vw;
      top: 58vw;
      font-size: 2vw;
      line-height: 2.6vw;
      padding: 10vw 3.5vw 3vw 7.5vw;
    }
    @media screen and (max-width: 480px) {
      background-image: url(../Assets/Images/HomePageImages/AboutUsMobileBackground3.png);
      height: 42.2vw;
      width: 51vw;
      right: 7vw;
      top: 48.5vw;
      font-size: 2.3vw;
      line-height: 2.7vw;
      letter-spacing: 0.066vw;
      padding: 10.5vw 2.5vw 3vw 7.5vw;
    }
  }
  &__infoItem4 {
    position: absolute;
    width: 57vw;
    height: 5.6vw;
    background-color: #5566b7;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5vw;
    border-radius: 2.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.3vw;
    font-family: Gilroy;
    box-shadow: 0.3125vw 0.3125vw 0.3125vw 0px rgba(0, 0, 0, 0.35);
    @media screen and (max-width: 1024px) {
      width: 71vw;
      height: 9.3vw;
      border-radius: 6.5vw;
      font-size: 3.125vw;
      box-shadow: 0.78vw 0.78vw 0.78vw 0px rgba(0, 0, 0, 0.35);
      bottom: 1.2vw;
    }
    @media screen and (max-width: 480px) {
      font-family: Unbounded;
      width: 71.5vw;
      height: 6.3vw;
      border-radius: 6.5vw;
      font-size: 2.2vw;
      box-shadow: 1.38vw 1.38vw 1.5vw 0px rgba(0, 0, 0, 0.35);
      bottom: 4vw;
      letter-spacing: 0.066vw;
    }
  }
}
.servicesContainer {
  width: 100vw;
  height: 80vw;
  background-color: white;
  padding: 6.6vw 6.6vw 0 6.6vw;
  color: #5566b7;
  position: relative;
  @media screen and (max-width: 1024px) {
    padding: 11.4vw 6.25vw 0 6.25vw;
    height: 211vw;
  }
  @media screen and (max-width: 480px) {
    padding: 13.5vw 4.4vw 0 4.4vw;
    height: 165vw;
  }
  &__header {
    font-size: 5vw;
    font-family: Gilroy-SemiBold;
    @media screen and (max-width: 1024px) {
      font-size: 12.5vw;
    }
    @media screen and (max-width: 480px) {
      font-size: 5.5vw;
      line-height: 5.5vw;
      margin-bottom: 6.6vw;
    }
  }
  &__service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7vw;
    border-bottom: 0.15vw solid #5566b7;
    transition-duration: 0.5s;
    @media screen and (max-width: 1024px) {
      height: unset;
      min-height: 11vw;
      align-items: flex-start;
      padding: 4.2vw 0;
    }
    @media screen and (max-width: 480px) {
      height: unset;
      min-height: 10.5vw;
      align-items: flex-start;
      padding: 4.4vw 0;
    }
  }
  &__serviceIcon {
    width: 1.92vw;
    height: 1.92vw;
    min-width: 1.92vw;
    min-height: 1.92vw;
    border-radius: 50%;
    margin-right: 0.41vw;
    object-fit: contain;
    transition-duration: 0.5s;
    @media screen and (max-width: 1024px) {
      width: 4.8vw;
      height: 4.8vw;
      min-width: 4.8vw;
      min-height: 4.8vw;
      margin-right: 1vw;
    }
  }
  &__serviceTitle {
    display: flex;
    align-items: center;
    font-family: Gilroy-SemiBold;
    font-size: 3.3vw;
    @media screen and (max-width: 1024px) {
      font-size: 6.25vw;
      line-height: 6.25vw;
      align-items: flex-start;
    }
    @media screen and (max-width: 480px) {
      font-size: 5.5vw;
      line-height: 5.5vw;
    }
  }
  &__infoList {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Unbounded;
  }
  &__infoListItem {
    text-align: right;
    font-size: 1.25vw;
    width: 25vw;
    @media screen and (max-width: 1024px) {
      font-size: 3.25vw;
      line-height: 3.6vw;
      width: 32vw;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2.2vw;
      line-height: 3.3vw;
      width: 32vw;
      font-family: Unbounded-Blond;
    }
  }
}
.servicesContainer > :nth-child(2) {
  border-top: 0.15vw solid #5566b7;
}
.servicesContainer__service:hover .servicesContainer__serviceIcon {
  transform: rotate(90deg);
}
.modalContainer {
  backdrop-filter: blur(1px);
}
%strategyImage {
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 18.5vw;
  height: 12.5vw;
}
.modalPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  min-height: 38vw;
  max-height: 90vh;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 2.6vw;
  &__infoSection {
    display: flex;
  }
  &__imagesList {
    display: flex;
    flex-direction: column;
    margin-right: 2.55vw;
  }
  &__imageContainer {
    height: 25vw;
    width: 30vw;
    background-color: rgba(85, 102, 183, 0.3);
    border-radius: 2.6vw;
    filter: drop-shadow(0.3125vw 0.3125vw 0.3125vw rgba(0, 0, 0, 0.35));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.625vw;
    position: relative;
  }
  &__imageContainerTopLeftImagesText {
    position: absolute;
    top: 1.83vw;
    left: 1.66vw;
    border-radius: 5.2vw;
    padding: 0.5vw;
    font-family: Unbounded-Medium;
    font-size: 1.25vw;
    line-height: 1.25vw;
    letter-spacing: 0.03125vw;
    color: #ffffff;
    background-color: #a967dd;
  }

  &__smmStrategyImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/smm_strategy_pop_up_desktop.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__communicationStrategyImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/communication_strategy_pop_up_desktop.webp);

    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__smmImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/smm_pop_up_desktop.webp);

    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__brandFirstImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_1.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__brandSecondImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_2.webp);

    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__brandThirdImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/branding_pop_up_desktop_3.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__designImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/web-design_pop_up_desktop.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__promotionImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/promotion_pop_up_desktop.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__productionImage {
    @extend %strategyImage;
    background-image: url(../Assets/Images/HomePageImages/PopUp/production_pop_up_desktop.webp);
    @media screen and (max-width: 1024px) {
    }
    @media screen and (max-width: 480px) {
    }
  }
  &__informationList {
  }
  &__informationItem {
    width: 33.4vw;
    min-height: 25vw;
    margin: 0.625vw;
    margin-bottom: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__informationItemHeader {
    color: #5566b7;
    font-size: 1.25vw;
    font-family: Unbounded-Bold;
    margin-bottom: 0.8vw;
  }
  &__informationItemSecondHeader {
    font-family: Unbounded;
    font-size: 1.05vw;
    line-height: 1.25vw;
    letter-spacing: 0.03125vw;
    color: #5566b7;
    margin-bottom: 0.8vw;
  }
  &__informationItemTitle {
    color: #000;
    font-family: Unbounded-Blond;
    font-size: 1vw;
    line-height: 1.66vw;
    letter-spacing: 0.03125vw;
    display: flex;
  }
  &__informationItemTitle:before {
    content: "";
    background-image: url(../Assets/Images/HomePageImages/PopUp/PopUpArrow.svg);
    margin-right: 0.8vw;
    display: block;
    min-width: 1.5vw;
    min-height: 1.05vw;
    width: 1.5vw;
    height: 1.05vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__informationItemSubTitle {
    color: #000;
    font-family: Unbounded-Blond;
    font-size: 1vw;
    line-height: 1.66vw;
    letter-spacing: 0.03125vw;
    display: flex;
    margin-left: 2.3vw;
  }
}

// .burgerContainer:hover .burgerContainer__lineTwo {
//   transform: rotate(0deg);
// }
// @keyframes rotateLineThree {
//   0% {
//     top: 60%;
//     left: 17%;
//   }

//   100% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) rotate(45deg);
//   }
// }

// @keyframes reverseRotateLineThree {
//   0% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) rotate(45deg);
//   }

//   100% {
//     top: 60%;
//     left: 17%;
//   }
// }
// .burgerContainer:hover .burgerContainer__lineThree {
//   animation: rotateLineThree 0.5s forwards;
// }
// .burgerContainer:not(:hover) .burgerContainer__lineThree {
//   animation: reverseRotateLineThree 0.5s forwards;
// }
